[submodule "TDRL/third_party/spdlog"]
	path = TDRL/third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "TDRL\\third_party\\glfw"]
	path = TDRL\\third_party\\glfw
	url = https://github.com/TheCherno/glfw
